.form .input-data{
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 1rem;
  }
  .form .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
  }
  .form .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
  }
  .form .submis{
    margin-top: 1rem;
    text-align: center;
  }
  .form .submis .submi{
    color: white;
    background: rgb(0, 195, 255);
    border-radius: 0.5rem;
    width: 80px;
    height: 30px;
    transition: all 300ms ease;
  }
  .form .submis .submi:hover{
    background: rgb(8, 66, 224);
  }